@{
    ViewData["Title"] = "About";
}

<h3>Message History</h3>
<p>Current message: @ViewBag.CurrentMessage</p>
<ul>
    @foreach(var message in ViewBag.Message)
    {
        <li>Messages: @message</li>
    }
</ul>