@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our chat room!</h1>

    <div class="container-fluid">
        "Hey, I am testing the container-fluid class to see how it behaves when a long string of text is given to it. Will it wrap? Will it scroll? The world may never know... But I will know after testing it!!!"
    </div>

    <form action="/action_page.php">
        Say something: <input type="text" name="message" value="">
        <input type="submit" value="Say it!">
    </form>
</div>
