@model Chat.Models.MessageData
@{
    ViewData["Title"] = "Home Page";
}

<style>
    p:nth-child(odd) { background-color:lightgrey; }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to our chat room!</h1>

    <form method="post" action="Index">
        <div id="messages" style="height:500px; overflow-y:scroll; display:block;">
            @foreach (var message in ViewBag.Message)
            {
                <p style="word-wrap: break-word;border-width:1px;border-style:solid;margin-bottom:0px;margin-top:0px">@message</p>
            }
        </div>
    </form>

    <form method="post" action="/home/send">
        Say something: <textarea type="text" name="message" value="" style="width:500px; height:100px"></textarea>
        <button type="submit" id="sayIt">Say it!!!</button>
    </form>
</div>
<script>
    var element = document.getElementById("messages");
    element.scrollTop = element.scrollHeight;
</script>

